/* 圖片區 */
.hero-section {
    padding: 40px 15px;    
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    gap: 30px;
    border-bottom: 1px solid #E8E8E8;
}

.img-section {
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: #448899;
    overflow: hidden;
    height: auto;
    border-radius: 5px;
}

.arrow-btn {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 36px;
    height: 36px;
    cursor: pointer;
    opacity: 0.75;
    transition: all 0.3s;
    z-index: 100;
}

.arrow-btn:hover {
    opacity: 1;
}

.img-left-btn {
    background-image: url('/static/img/attr-left-arrow.png');
    top: calc(50% - (36px / 2));
    left: 10px;
}

.img-right-btn {
    background-image: url('/static/img/attr-right-arrow.png');
    top: calc(50% - (36px / 2));
    right: 10px;
}

.indicator-bar {
    width: 100%;
    position: absolute;
    height: 5px;
    bottom: 0;
    display: flex;
}

.indicator-bar_item {
    background-color: rgba(255, 255, 255, 75%);
    height: 100%;
    flex: 1;
    transition: all 0.3s;
}

.indicator-bar_item.active {
    background-color: #000;
}


/* 訂購區 */
.profile-section {
    color: #666666;    
}

.attr-name, .attr-label {
    margin-bottom: 20px;
}

.booking-section {
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #E8E8E8;
}

.booking-label {
    margin-bottom: 15px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.booking-btn {
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #448899;
    color: #fff;
    cursor: pointer;
    width: 154px;
    margin: 25px 0 ;
    transition: all 0.3s;
}

.booking-btn:hover {
    background-color: #337788;
}

/* input 樣式修改 */
.radio-container {
    position: relative;
    cursor: pointer;
    padding-left: 25px;
    display: inline-block;
    margin: 0 5px;
    line-height: 22px;    
}

.radio-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.radio-checkmark {
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 2px solid #fff;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
}

.radio-container:hover input ~ .radio-checkmark {
    background-color: #a0ced9;
}

.radio-container input:checked ~ .radio-checkmark {
    background-color: #448899;
}

input[type="date"] {
    border: none;
    padding: 5px 10px;
    height: 35px;
}

input[type="date"]:focus {
    border: 1px solid #448899;    
}


/* 景點敘述 */
.detail {
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 0 10px;
    color: #666666;
    
}

.detail-heading {
    line-height: 32px;
}

.detail-text {
    padding-bottom: 35px;
    text-align: justify;
}


/* RWD */
.lg-9 {
    grid-column: span 9;
}

.lg-10 {
    grid-column: span 10;
}

@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .hero-section {
        border-bottom: 0;
    }

    .detail {
        width: calc(100% - 20px);
        margin: 0 10px;
        padding: 40px 10px;
        color: #666666;
        border-top: 1px solid #E8E8E8;
    }
}

@media (max-width: 768px) {
    .hero-section {
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;        
    }

    .img-section {
        width: 100%;
        height: 350px;
        border-radius: 0;
    }

    .profile-section {
        width: 100%;
        padding: 0 10px 40px 10px;
    }

}

