@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* font style */
.font-h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
}

.font-btn {
    font-weight: 400;
    font-size: 19px;
    line-height: 16px;
    letter-spacing: 0%;
}

.font-content {
    font-weight: 400;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}

.font-body {
    font-weight: 500;
    font-size: 16px;
    line-height:13.3px;
    letter-spacing: 0%;
}

.font-category {
    font-weight: 500;
    font-size: 14px;
    line-height:100%;
    letter-spacing: 0%;
}

.bold {
    font-weight: 700;
}


/* nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

.menu_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu_btn:hover {
    color: #000;
}

.top-space {
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    height: 54px;
}


/* hero section */
.hero-container {
    padding: 10px;
}

.hero-section {
    width: 100%;
    height: 320px;
    padding: 10px;
    background-image: url('../img/hero-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content {
    color: #FFFFFF;
}

.hero-title {
    margin-bottom: 15px;
}

/* search bar */
.search-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 25px;
    max-width: 100%;
}

.selector {
    padding: 16px 8px;
    background-color: #EEEEEE;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    font-weight: 500;
    height: 46px;
    text-wrap: nowrap;
    position: relative;
}

.category-block {
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 5px;
    background-color: #FFFFFF;
    display: none;
    grid-template-columns: repeat(3, 1fr);
    border-radius: 5px;
    box-shadow: 0px 0px 20px 0px #AABBCC;
    z-index: 100;
}

.category-block.active {
    display: grid;
}

.category-block__item {
    width: 100px;
    height: 40px;
    padding: 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #FFFFFF;
    border-radius: 5px;
    transition: all 0.3s;
}

.category-block__item:hover {
    background-color: #EEEEEE;
}

.textbox {
    width: 270px;
    height: 46px;
    padding: 15px;
    border: none;
    outline: none;

}

#search-btn {
    padding: 8px 15px;
    background-color: #448899;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

#search-btn img {
    width: 30px;
    height: 30px;
    display: block;
}

#search-btn:hover {
    background-color: #3b7685;
}

/* 景點 list */
.list-bar {
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
    width: 100%;
}

.arrow-btn {
    cursor: pointer;
    width: 32px;
    height: 32px;
    opacity: 0.5;
    transition: all 0.3s;
    flex-shrink: 0;
}

#left-btn {
    background-image: url('../img/arrow-left.png');
    background-size: cover;
    background-position: center;
    margin: 9px 10px 9px 15px;
}

#left-btn:hover {
    opacity: 1;
}

#right-btn {
    background-image: url('../img/arrow-right.png');
    background-size: cover;
    background-position: center;
    margin: 9px 15px 9px 10px;
}

#right-btn:hover {
    opacity: 1;
}

.mrt-list {
    display: flex;
    justify-content: start;
    align-items: center;
    width: calc(100% - (57px * 2));
    margin: 13px 0;
    text-wrap: nowrap;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.mrt-list__item {
    margin: 5px 15px;
    color: #666666;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s;
    flex-shrink: 0;
}

.mrt-list__item:hover {
    color: #000000;
}


/* 景點 card */
.main-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.attraction-block__card {
    border-radius: 5px;
    border: 1px solid #E8E8E8;
    overflow: hidden;
    cursor: pointer;
}

.card-img {
    position: relative;
    background-color: #448899;
    background-size: cover;
    background-position: center;
    height: 197px;
}

.card-title {
    position: absolute;
    bottom: 0;
    color: #FFFFFF;
    width: 100%;
    padding: 10px;
    background-color: #00000099;
    line-height: 20px;
    white-space: nowrap;       
    overflow: hidden;          
    text-overflow: ellipsis;
}

.card-detail {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 45px;
    color: #757575;
}


/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    padding: 40px;
    color: #FFFFFF
}


/* RWD */
/* desktop 1200px up*/
.attraction-block {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    width: 1200px;
    gap: 30px;
    padding: 15px;
}

.lg-3 {
    grid-column: span 3;
}

.lg-12 {
    grid-column: span 12;
}


/* Tablet 600px-1200px */
@media (max-width: 1200px) {
    .container {
        width: 100%;
    }

    .attraction-block {
        width: 100%;
        gap: 15px;
    }

    .md-6 {
        grid-column: span 6;
    }

    .md-4 {
        grid-column: span 4;
    }
}

/* mobile 600px down */
@media (max-width: 600px) {
    .textbox {
        width: 100%;
    }

    .sm-12 {
        grid-column: span 12;
    }
}
