@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
    box-sizing: border-box;   
    background-color: #757575;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
    background-color: #fff;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* font style */
.font-h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
}

.font-h3 {
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-btn {
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0%;
}

.font-content {
    font-weight: 400;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}

.font-body {
    font-weight: 500;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}

.font-category {
    font-weight: 500;
    font-size: 14px;
    line-height:100%;
    letter-spacing: 0%;
}

.bold {
    font-weight: 700;
}


/* nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    z-index: 500;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

.title {
    display: block;

}

.menu_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;
    cursor: pointer;
}

#menu_auth-container {
    min-width: 80px;
}

.menu {
    display: flex;
}

.menu_btn:hover {
    color: #000;
}

.top-space {
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    height: 54px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    padding: 40px;
    color: #FFFFFF
}

/* 登入/註冊彈窗 */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.25);
    z-index: 900;
    display: none;
}

.dialog {
    position: fixed;
    top: 80px;
    left: calc(50% - (340px / 2));
    transform: translateX(-50%);
    width: 340px;
    z-index: 1000;
    background-color: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0px 4px 60px #aaaaaa;
    overflow: hidden;
    display: none;
}

.decorator-bar {
    width: 100%;
    height: 10px;
    background: linear-gradient(
        135deg,
        #66AABB,
        #337788,
        #66AABB
    );
    background-size: 400% 400%;
    animation: gradientMove 12s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 50%;
  }
  75% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.dialog-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.dialog-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 16px;
    height: 16px;
    cursor: pointer;
    margin: 7px;
    background-image: url(../img/close.png);
}

.dialog-title {
    color: #666666;
    padding-bottom: 15px;
}

.dialog-textbox {
    width: 100%;
    padding: 15px;
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #cccccc;
    border-radius: 5px;
    outline: none;
    transition: box-shadow 0.2s;
}

.dialog-textbox:focus {
    box-shadow: 0 0 4px rgba(188, 187, 187, 0.3);
    border-color: #aaaaaa;
}

.dialog-btn {
    border: none;
    width: 100%;
    padding: 15px 20px;
    color: #FFFFFF;
    cursor: pointer;
    background-color: #448899;
    transition: all 0.3s;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 12px;
}

.dialog-btn:hover {
    background-color: #337788;
}

.dialog-text {
    color: #666666;
    display: flex;
}

.dialog-text div {
    cursor: pointer;
    border-bottom: 1.5px solid transparent;
    transition: border-color 0.2s;
}

.dialog-text div:hover {
    border-color: #666666;
}

.dialog-alert {
    color: #e55557;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

.dialog-correct {
    color: #75ba4d;
    font-size: 14px;
    margin-top: 5px;
    display: none;
}

/* 登入/註冊彈窗顯示隱藏動畫 */
@keyframes fadeIn {
    from { opacity: 0; transform: scale(0.9); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes fadeOut {
    from { opacity: 1; transform: scale(1); }
    to { opacity: 0; transform: scale(0.9);}
}

.dialog.show {
    display: block;
    animation: fadeIn 0.3s ease-out forwards;
}

.dialog.hide {
    animation: fadeOut 0.3s ease-in forwards;
}


/* loading 動畫 */
.loading-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.loading-attr {
    z-index: 400;
    width: 100%;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center; 
}

/* 轉圈圈本體 */
.loader {
    border: 5px solid #f3f3f3;
    border-top: 5px solid #448899;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite; 
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* 旋轉動畫 */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* 隱藏狀態 */
.hidden {
    display: none !important;
}