@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

html {
    box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Noto Sans TC", sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    width: 1200px;
    margin: 0 auto;
}


/* font style */
.font-h1 {
    font-weight: 700;
    font-size: 28px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-h2 {
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 0%;
}

.font-h3 {
    font-weight: 400;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: 0%;
}

.font-btn {
    font-weight: 400;
    font-size: 19px;
    line-height: 19px;
    letter-spacing: 0%;
}

.font-content {
    font-weight: 400;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}

.font-body {
    font-weight: 500;
    font-size: 16px;
    line-height:100%;
    letter-spacing: 0%;
}

.font-category {
    font-weight: 500;
    font-size: 14px;
    line-height:100%;
    letter-spacing: 0%;
}

.bold {
    font-weight: 700;
}


/* nav */
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    border-bottom: 1px solid #E8E8E8;
    z-index: 1000;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.title {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
}

.title {
    display: block;

}

.menu_btn {
    font-weight: 500;
    font-size: 16px;
    line-height: 13.3px;
    color: #666666;
    padding: 10px;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu_btn:hover {
    color: #000;
}

.top-space {
    width: 100%;
    padding: 10px 0;
    background-color: #FFFFFF;
    height: 54px;
}

/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #757575;
    padding: 40px;
    color: #FFFFFF
}


/* loading 動畫 */
.spinner {
    width: 50px;
    height: 50px;
    border: 5px solid #e8e8e8;
    border-top: 5px solid #448899;
    border-radius: 50%;
    animation: spin 1s linear infinite;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

/* 旋轉動畫 */
@keyframes spin {
    0% { transform: translate(-50%, -50%) rotate(0deg); }
    100% { transform: translate(-50%, -50%) rotate(360deg); }
}

/* 隱藏狀態 */
.hidden {
    display: none !important;
}